{% extends 'base.html' %}

{% block content %}
<h4>
{{ content }}
</h4>
<form class="form-signin" method="post" action="{{ app.router['login'].url_for() }}">
    <div id="error" style="color: red;">{{ error }}</div>
    <div class="form-group">
        <label>Insert login
            <input type="text" class="form-control" pattern="[A-Za-zА-Яа-я0-9]{3,}" name="login" placeholder="Login" id="login" required>
        </label>
    </div>

    <div class="form-group">
        <label>Enter password
            <input type="password" class="form-control" pattern="[A-Za-zА-Яа-я0-9]{8,}" name="password" placeholder="Password" id="password" required>
        </label>
    </div>
    <p>
        <button class="btn btn-primary" id="submit" type="submit">Login</button>
        <a href="{{ app.router['sign_in'].url_for() }}" class="btn btn-default" id="sign-in">Sign In</a>
    </p>
</form>
{% endblock %}
